@font-face {
	font-family: Karma;
	src: url("fonts/karmaSuture.otf");
}

:root {
	font-size: 62.5%;
	--bg: #31deac;
	--accent: #adc7ff;
	--font-color: #e22866;
	--shadow: #792a37;
}

* {
	padding: 0;
	margin: 0;
	font-family: Karma, sans-serif;
}

body {
	text-transform: capitalize;
	position: relative;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	min-height: 100vh;
	font-family: Karma;
	color: var(--font-color);
}

#wrapper {
	overflow: auto;
	background-color: var(--bg);
	min-height: 100vh;
}

.flex {
	display: flex;
}

.grid {
	display: grid;
}

.btn {
	padding: 1vw 2vw;
	margin: 1vw;
	background-color: var(--accent);
	font-size: 2.5rem;
	color: var(--font-color);
	border: 3px var(--font-color) solid;
	border-radius: 10px;
	transition: all 0.5s ease;
}

.btn:hover {
	transform: translate(-10px, -10px) scale(1.1);
	box-shadow: 10px 10px 0 var(--shadow);
}

h1 {
	font-size: 6rem;
	text-align: center;
	text-shadow: 6px 5px 0 var(--shadow);
}

#settings {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#settings > div {
	width: 75vw;
	max-width: 1000px;
}

#btnContainer {
	justify-content: space-evenly;
	align-items: center;
}

#btnContainer > * {
	flex: 1;
}

#clrAndSliderContainer {
	justify-content: space-evenly;
	align-items: center;
}

#colorPicker {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	width: 5vw;
	height: 5vw;
	border: none;
	cursor: pointer;
}

#colorPicker::-moz-color-swatch {
	border-radius: 50%;
	border: 3px var(--font-color) solid;
}

#sliderContainer {
	justify-content: space-evenly;
	align-items: center;
	padding: 1vw 2vw;
	background-color: var(--accent);
	border-radius: 10px;
	border: 3px var(--font-color) solid;
}

#sliderText {
	font-size: 1.6rem;
	margin-left: 1rem;
}

#gridContainer {
	border: 3px var(--font-color) solid;
	max-width: 1000px;
	max-height: 1000px;
	width: 75vw;
	height: 75vw;
	margin: 1vw auto;
}

/*Media Queries*/
@media only screen and (max-width: 768px) {
	:root {
		font-size: 50%;
	}

	h1 {
		font-size: 5.5rem;
	}

	#settings {
		margin: 1vw;
	}

	#settings > div {
		width: 80vw;
		/* max-width: 1000px; */
	}

	#colorPicker {
		width: 7vw;
		height: 7vw;
	}

	#gridContainer {
		width: 80vw;
		height: 80vw;
	}
}

@media only screen and (max-width: 500px) {
	#colorPicker {
		width: 10vw;
		height: 10vw;
	}

	#gridContainer {
		margin: 3vw auto;
	}
}
