@font-face {
	font-family: Karma;
	src: url("fonts/karmaSuture.otf");
}

:root {
	font-size: 62.5%;
	--bg: #31deac;
	--font-color: #e22866;
	--accent: #6a2531;
}

* {
	padding: 0;
	margin: 0;
}

body {
	text-transform: capitalize;
	position: relative;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	min-height: 100vh;
	font-family: Karma;
	color: var(--font-color);
}

#wrapper {
	overflow: auto;
	background-color: var(--bg);
	min-height: 100vh;
}

.flex {
	display: flex;
}

.grid {
	display: grid;
}

h1 {
	font-size: 6rem;
	text-align: center;
	text-shadow: 6px 5px 0 var(--accent);
}

#settings {
	justify-content: center;
	align-items: center;
	margin: 2vw;
}
